---
title: change_avatar
stylesheet: ./change_avatar.scss
inputs:
  - title: Выбрать файл на компьютере
    id: avatar
    type: file

save: Сохранить
span: false
---
{{!< base}}

<div class="container">
    <div class="modal">
      <h2 class="title">Загрузите файл</h2>
      {{#each inputs}}
        {{>input_item}}
      {{/each}}
      {{>button_block text=save}}
    </div>
</div>