---
title: reg
stylesheet: ./reg.scss
inputs:
  - title: Почта
    id: email
    type: email
  - title: Логин
    id: login
    type: text
  - title: Имя
    id:  first_name
    type: text
  - title: Фамилия
    id: reg_surname
    type: text
  - title: Телефон
    id: phone
    type: tel
  - title: Пароль
    id: password
    type: password
  - title: Подтвердить пароль
    id: confirm_password
    type: password
registration: Зарегистрироваться
enter: Войти
span: true
---

{{!< base}}

<div class="container">
	<div class="form-container">
		<form class="form">
      <h2 class="title">Регистрация</h2>
      {{#each inputs}}
          {{>input_item span=../span}}
      {{/each}}
      {{>button_block text=registration}}
      <a href="../auth/auth.hbs">{{enter}}</a>
    </form>
  </div>
</div>