html, body, main
{
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    // font-style: normal;

    .back {
        width: 64px;
        display: flex;
        justify-content: center;

        a {
            width: 28px;
            height: 28px;
            background-image: url(/static/pictures/left_arrow.svg);
        }
    }

    .user {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 510px;

        .avatar {
            display: flex;

            width: 130px;
            height: 130px;

            margin: 0 auto 95px;
            border-radius: 50%;
            background: #EFEFEF;

            img {
                margin: auto;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            .input-item {
                display: flex;
                justify-content: space-between;
                width: 100%;

                border-bottom: 1px solid #EAEAEA;

                margin-bottom: 10px;

                input {
                    background: none;
                    text-align: end;
                }
            }
        }
        
        .links {
            margin-top: 60px;

            .link {
                border-bottom: 1px solid #eaeaea;
                margin-bottom: 10px;
                padding-bottom: 10px;

                a {
                    color: #3369F3;
                }
            }

            a {
                text-decoration: none;
                font-size: 13px;
                line-height: 13px;

                color: #FF0000;
            }
        }

    }
}