---
title: change_password
stylesheet: ./change_password.scss
inputs:
  - title: Старый пароль
    id: oldPassword
    type: password
  - title: Новый пароль
    id:  newPassword
    type: password
  - title: Повторите новый пароль
    id: repeatNewPassword
    type: password

save: Сохранить
span: false
---
{{!< base}}

<div class="container">
    <div class="back">
        <a href="/"></a>
    </div>
    <div class="user">
        <div class="avatar">
          <img src="/static/pictures/default_avatar.svg">
        </div>
        <form class="settings">
            {{#each inputs}}
                {{>input_item}}
            {{/each}}
            {{>button_block text=save}}
        </form>
    </div
</div>