---
title: 500
stylesheet: ./500.scss
---

{{!< base}}
<div class="container">
    <div class="error_page">
        <h1 class="title">500</h1>
        <p class="message">Мы уже фиксим</p>
        <a class="link" href="/chats">Назад к чатам</a>
    </div>
</div>