@import "./variables.scss";

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
}

.root {
  height: 100%;
}

button {
  cursor: pointer;
}

input {
  border: none;
}
