---
title: user_settings
stylesheet: ./user_settings.scss
inputs:
  - title: Почта
    id: reg_mail
    type: email
  - title: Логин
    id: reg_login
    type: text
  - title: Имя
    id: reg_name
    type: text
  - title: Фамилия
    id: reg_surname
    type: text
  - title: Телефон
    is: reg_phone
    type: tel
  - title: Пароль
    id: reg_password
    type: password
save: Сохранить
span: false
---
{{!< base}}

<div class="container">
    <div class="back">
        <a href="/"></a>
    </div>
    <div class="user">
        <div class="avatar"></div>
        <form class="settings">
            {{#each inputs}}
                {{>input_item span=false}}
            {{/each}}
            {{>button_block text=save}}
        </form>
    </div
</div>