@import "../../styles/variables.scss";

.chats-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 4;

    .menu {
        display: flex;
        flex-direction: column;
        width: 310px;

        border-right: 1px solid #eaeaea;

        .button-block {
            display: flex;
            justify-content: space-between;

            padding: 21px;

            .btn {
                button {
                    background: none;
                    border: none;
                    
                    font-size: 12px;
                    line-height: 12px;
                    
                    text-decoration: none;
                    color: $gray;
                }
            }
        }

        .search {
            margin: 0px 10px 14px 10px;

            input {
                width: 100%;
                height: 32px;

                text-align: center;
                background: #efefef;
                border-radius: 5px;

                font-size: 12px;
                line-height: 12px;

                color: $gray;
            }
        }
    }
}
