---
title: auth
inputs:
  - title: Имя
    id: auth_name
    type: text
  - title: Пароль
    id: auth_password
    type: password
authButton: Авторизоваться
noAccButton: Нет аккаунта? 
---

{{!< base}}

<div class="form_container">
	<form class="form__auth">
		<p>Вход</p>
		{{#each inputs}}
  			{{>input_block }}
		{{/each}}
		{{> button_block text=authButton }}
		{{> button_block text=noAccButton }}
		</div>
	</form>
</div>