---
inputs:
  - title: Имя
    id: name
    type: text
    placeholder: Имя
  - title: Пароль
    id: password
    type: text
    placeholder: Пароль
buttonName: регистрация 
---

{{!< base}}

<div class="form_container">
	<form class="form__auth">
		<p>Вход</p>
		{{#each inputs}}
  			{{>input }}
		{{/each}}
		{{> button button_name=кнопка }}
		</div>
	</form>
</div>