---
title: reg
inputs:
  - title: Почта
    id: reg_mail
    type: email
  - title: Логин
    id: reg_login
    type: text
  - title: Имя
    id: reg_name
    type: text
  - title: Фамилия
    id: reg_surname
    type: text
  - title: Телефон
    is: reg_phone
    type: tel
  - title: Пароль
    id: reg_password
    type: password
registerButton: Зарегистрироваться
exitButton: Войти
---

{{!< base}}

<div class="form_container">
	<form class="form__reg">
		<p>Регистрация</p>
		{{#each inputs}}
  			{{>input_block }}
		{{/each}}
		{{> button_block text=registerButton }}
    {{> button_block text=exitButton }}
	</form>
</div>