<div class="form_container">
	<form class="form__auth">
		<p>Регистрация</p>
		<div class="input_block">
			<label for="login">Login</label>
			<input type="text" id="login">
		</div>
		<div class="input_block">
			<label for="password">Password</label>
			<input type="text" id="password">
		</div>
		<div class="button_block">
	</form>
</div>