---
title: user_settings
stylesheet: ./chats.scss
chats:
  - userName: Андрей 
    textPreview: Изображение
    time: '10:49'
    unreadMessageCont: 2
  - userName: Киноклуб 
    textPreview: Стикер
    time: '12:00'
    unreadMessageCont:
  - userName: Илья 
    textPreview: Друзья, у меня для вас особенный выпуск новостей!...
    time: '15:12'
    unreadMessageCont: 4
  - userName: Вадим 
    textPreview: Круто!
    time: Пт
    unreadMessageCont:
  - userName: Design Destroyer 
    textPreview: В 2008 году художник Jon Rafman  начал собирать...
    time: Пн
    unreadMessageCont:
---
{{!< base}}

<div class="container">
    <div class="menu">
        <div class="profile">
          <a href="">Профиль</a>
        </div>
        <div class="search">
          <input type="text" id="search-input" placeholder="Поиск">
        </div>
        <div class="chats-list">
          {{#each chats}}
          {{>chat }}
          {{/each}}
        </div>
    </div>
    <div class="chat">
        <div class="user">
          <img src="/static/pictures/round_34_34.svg">
          <p>Имя</p>
          <button>
            <img src="/static/pictures/three_points.svg">
          </button>
        </div>
        <div class="conversation"></div>
        <div class="message-input">
          <img src="/static/pictures/append.svg">
          <input type="text" name="message" placeholder="Сообщение">
          <button>
            <img src="/static/pictures/right_arrow.svg">
          </button>
        </div>
    </div
</div>
