<div class="container">
    <div class="error_page">
        <h1 class="error_code">{{ error_code }}</h1>
        <p class="error_message">{{ error_message }}</p>
        <a class="error_link" href="/chats">Назад к чатам</a>
    </div
</div>