---
title: user_settings
stylesheet: ./user_settings.scss
inputs:
  - title: Почта
    id: email
    type: email
  - title: Логин
    id:  login
    type: text
  - title: Имя
    id: first_name
    type: text
  - title: Фамилия
    id: second_name
    type: text
  - title: Имя в чате
    id: display_name
    type: display_name
  - title: Телефон
    id: phone
    type: tel
save: Сохранить
span: false
---
{{!< base}}

<div class="container">
    <div class="back">
        <a href="/"></a>
    </div>
    <div class="user">
        <div class="avatar">
          <img src="/static/pictures/default_avatar.svg" alt="user_avatar">
        </div>
        <form class="settings">
            {{#each inputs}}
                {{>input_item}}
            {{/each}}
            {{>button_block text=save}}
        </form>
    </div>
</div>