.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .error_page {
        display: flex;
        flex-direction: column;
        align-items: center;
      
        .title {
            margin-bottom: 30px;
        }

        .message {
            margin-bottom: 80px;
        }
    }
}
